@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
html,body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Jura', sans-serif;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1 {
  font-family: 'Jura', sans-serif;
}

h2 {
  font-family: 'Play', sans-serif;
}

h3 {
  font-family: 'Jura', sans-serif;
}
h4 {
  font-family: 'Play', sans-serif;
}

p {
  font-family: 'Play', sans-serif;
}

a {
  font-family: 'Jura', sans-serif;
}